<ion-header>

  <ion-navbar>
    <ion-title>Star Wars - details of vehicles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card>

    <ion-item>
      <h2>{{vehicle.name}}</h2>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        Model:
      </ion-col>
      <ion-col>
        {{vehicle.model}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Vehicle class:
      </ion-col>
      <ion-col>
        {{vehicle.vehicle_class}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Manufacturer:
      </ion-col>
      <ion-col>
        {{vehicle.manufacturer}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Lenght:
      </ion-col>
      <ion-col>
        {{vehicle.lenght}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Cost in credits:
      </ion-col>
      <ion-col>
        {{vehicle.const_in_credits}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Crew:
      </ion-col>
      <ion-col>
        {{vehicle.crew}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Max speed:
      </ion-col>
      <ion-col>
        {{vehicle.max_atmosphering_speed}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Passengers:
      </ion-col>
      <ion-col>
        {{vehicle.passengers}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Cargo capacity:
      </ion-col>
      <ion-col>
        {{vehicle.cargo_capacity}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Consumables:
      </ion-col>
      <ion-col>
        {{vehicle.consumables}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Films:
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Pilots:
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>

    
    

  </ion-card>

</ion-content>
