<ion-header>

  <ion-navbar>
    <ion-title>Star Wars - detail of species</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card>

    <ion-item>
      <h2>{{specie.name}}</h2>
    </ion-item>


    <ion-row>
      <ion-col text-center>
        Classification:
      </ion-col>
      <ion-col>
        {{specie.classification}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Designation:
      </ion-col>
      <ion-col>
        {{specie.designation}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Average heigt:
      </ion-col>
      <ion-col>
        {{specie.average_height}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Average lifespan:
      </ion-col>
      <ion-col>
        {{specie.average_livespan}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Eye colors:
      </ion-col>
      <ion-col>
        {{specie.eye_colors}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Hair colors:
      </ion-col>
      <ion-col>
        {{specie.hair_colors}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Skin colors:
      </ion-col>
      <ion-col>
        {{specie.skin_colors}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Language:
      </ion-col>
      <ion-col>
        {{specie.language}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Homeworld:
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        People:
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        Films:
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>

    
    

  </ion-card>

</ion-content>
